.wrap-list {
  display: grid;
  padding: 1rem;
  border: none;
  height: 50px;

  font-family: monospace;
  font-size: 1rem;
  text-align: left;

  color: black;
  background: white;
  
  grid-template-columns: 22px 238px;
  grid-template-rows: 22px auto;
}

.list-name {
  grid-column-start: 2;
}

.progress-bar {
  grid-column-start: 2;
  grid-row-start: 2;
}
